body{
    background: linear-gradient(
        45deg,
        #51cbff,
        #3961bf
    );
}
.form{
    background-color: white;
    border:2px black solid;
    border-radius: 10px;
    margin:auto;
    width:30%;
    min-height:400px;
    margin-top: 120px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form2{
    width: 100%;
}
.hide{
    border:1.5px black solid;
    border-radius:5px;
    width:90%;
    height:40px;
    margin: 7px;
    margin-left: 4.5%;
}
.hide input{
    width:60%;
    height: 25%;
    border:0;
    outline: 0;
    padding: 1.5px 0;
    font-size: 14px;
    position:relative;
    right:13%;
    bottom:8px;
}
.hide img{
    width:31px;
    cursor: pointer;
    position: relative;
    left:28px;
    top: 2px;
    color: blueviolet;
}
input{
    border:1.5px black solid;
    border-radius:5px;
    width:89%;
    height:39px;
    margin: 7px;
}
#type3{
    background-color: blue;
    color: white;
}
h5{
    margin-top:1.5px;
}
@media screen and (min-width:991px) and (max-width:1200px){
    .form{
        width:43%;
        margin-top: 135px;
        margin-bottom: 83px;
    }
    .hide img{
        left:11%;
    }
}
@media screen and (min-width:769px) and (max-width:990px){
    .form{
        width:44%;
        margin-top:55px;
    }
    .hide img{
        left:10%;
    }
}
@media screen and (min-width:620px) and (max-width:768px){
    .form{
        width:50%;
        margin-top: 55px;
    }
    .hide img{
        left:8%;
    }
    input{
        height: 35px;
    }
    .hide{
        height:37px;
    }
}
@media screen and (min-width:481px) and (max-width:619px){
    .form{
        width:60%;
        margin-top: 54px;
    }
    .hide img{
        left:8%;
    }
    .hide input{
        right:12%;
    }
    input{
        height: 35px;
    }
    .hide{
        height:37px;
    }
}
@media screen and (min-width:400px) and (max-width:480px){
    .form{
        width:75%;
        margin-top: 45px;
    }
    input{
        height:35px;
    }
    .hide{
        height:37px;
    }
    .hide input{
        font-size: 12px;
        right:11%;
        bottom: 6px;
    }
    .hide img{
        width:28px;
        left:8%;
        top: 3px;
    }
    input#type1{
        font-size: 12px;
    }
}
@media screen and (min-width:321px) and (max-width:399px){
    .form{
        width:94%;
        margin-top:54px;
    }
    input{
        height:35px;
    }
    input#type1{
        font-size: 12px;
    }
    .hide{
        height:37px;
    }
    .hide input{
        font-size: 12px;
        right:12%;
        bottom:6px;
    }
    .hide img{
        width:28px;
        left:8%;
        top:3px;
    }
}
@media screen and (min-width:230px) and (max-width:320px){
    .form{
        width:100%;
        margin-top:54px;
    }
    input{
        width:85%;
        height:35px;
        font-size: 12px;
    }
    input#type1{
        font-size: 12px;
    }
    .hide{
        width:86%;
        height:37%;
        margin-left: 6.5%;
    }
    .hide input{
        font-size: 12px;
        right:11%;
        bottom:4px;
    }
    .hide img{
        width: 26px;
        left:5%;
        top:4px;
    }
}